{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>

    <div class="form-group">
        <label for="inputEmail" class="sr-only control-label required">Email</label>
        <input
            type="email"
            value="{{ last_username }}"
            name="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email"
            required
            autofocus
        />
    </div>

    <div class="form-group">
       <label for="inputPassword" class="sr-only control-label required">Password</label>
        <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required
        />
    </div>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}

        <div class="mb-3 form-check">
            <input type="checkbox" name="_remember_me" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">
                Remember me
            </label>
        </div>


    <div class="form-group">
        <button class="btn btn-lg btn-outline-primary" type="submit">
            Log in
        </button>
    </div>
</form>
{% endblock %}
