<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            crossorigin="anonymous"
        />
        <style>
            main > .container {
                padding: 80px 15px 0;
            }
            .footer {
                background-color: #f5f5f5;
            }
            .footer > .container {
                padding-right: 15px;
                padding-left: 15px;
            }
            .controls > * {
                margin-right: 4px;
            }
            .controls > *:last-child {
                margin-right: 0;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container">
                    <a href="{{ path('home') }}" class="navbar-brand">App</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarCollapse"
                        aria-controls="navbarCollapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggle-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="{{ path('home') }}" class="nav-link">
                                    Home
                                </a>
                            </li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item">
                                    <a href="{{ path('post_index') }}" class="nav-link">
                                        Posts
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_logout') }}" class="nav-link">
                                        Log out
                                    </a>
                                </li>
                            {% else %}
                            <li class="nav-item">
                                <a href="{{ path('app_login') }}" class="nav-link">
                                    Log in
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_register') }}" class="nav-link">
                                    Sign up
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex-shrink-0" role="main">
            <div class="container">
                {% block breadcrumbs %}{% endblock %}
                {% block body %}{% endblock %}
            </div>
        </main>

        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">App</span>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
