{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn-info">
            {{ button_label|default('Save') }}
        </button>
    </div>
{{ form_end(form) }}
