{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    <div class="d-flex mb-3 controls">
        <a href="{{ path('post_index') }}" class="btn btn-primary">
            Back to list
        </a>
        <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-info">
            Show
        </a>
        {{ include('post/_delete_form.html.twig') }}
    </div>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
