{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.text }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('post_show', {'id': post.id}) }}">Show</a>
                    <a class="btn btn-outline-danger" href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-outline-dark">
        <a href="{{ path('post_new') }}">Create new</a>
    </button>
{% endblock %}
